<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue.js</title>
</head>
<body>
   <div id="box">
       <h3>绑定单选框</h3>
       <input type="radio" id="one" name="r" value="One" v-model="picked">
       <label for="one">One</label>
       <input type="radio" id="two" name="r" value="Two" v-model="picked">
       <label for="two">Two</label>
       <br>
       <span>{{picked}}</span>
   </div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el:'#box',
        data:{
            picked:''
        }
    })
</script>
</body>
</html>

